<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-autowire="byName">

    <!--加载biz bean 通过xml启动组件扫描 -->
    <context:component-scan base-package="com.fc"/>

    <bean class="com.fc.provider.TestProvider" init-method="initMethod">
    </bean>

    <!-- 添加默认实现 -->
    <bean id="threadFactory" class="java.util.concurrent.Executors$DefaultThreadFactory"/>
    <!-- 添加自定义实现 -->
    <bean id="threadFactoryNew" class="com.fc.provider.ThreadFactoryConsumer"/>
    <!-- 创建线程池 -->
    <bean id="userThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="50" />
        <property name="queueCapacity" value="1000" />
        <property name="keepAliveSeconds" value="3000"/>
        <property name="threadFactory" ref="threadFactoryNew"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <bean id="testSetBean" class="com.fc.service.imp.TestSetBeanImp"/>

</beans>
