<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--showcase 白名单服务-->
    <!--<bean id="whiteListService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
        <property name="interfaceName" value="com.taobao.sdk.WhiteListService"/>
        <property name="version" value="1.0.0"/>
    </bean>-->

    <!-- TFS -->
    <bean id="tfsManager" class="com.taobao.common.tfs.DefaultTfsManager"
          init-method="init">
        <property name="rsAddr">
            <value>restful-store.daily.tbsite.net:3800</value>
        </property>
        <property name="appKey">
            <value>4f90f64a4b188</value>
        </property>
        <property name="maxHttpConnTotal">
            <value>50</value>
        </property>
        <property name="maxHttpConnPerRoute">
            <value>10</value>
        </property>
        <property name="connTimeout">
            <value>3000</value>
        </property>
    </bean>
</beans>